{% extends 'base.html' %}
{% block title %}Picnic Details{% endblock %}

{% block content %}

<div class="">
    <div class="bg-white rounded-lg p-5 py-7">
        <h2 class="text-gray-900 font-bold text-xl mb-3 text-center">MENU</h2>
        <ul class="text-lg flex flex-wrap gap-4 justify-center">
            <li class="bg-white shadow-md p-2 rounded-lg"><i class="fa-solid fa-carrot text-orange-600 "></i> Salad</li>
            <li class="bg-white shadow-md p-2 rounded-lg"><i class="fa-solid fa-bowl-rice"></i> Plain Rice</li>
            <li class="bg-white shadow-md p-2 rounded-lg"><i class="fa-solid fa-bowl-food text-yellow-600"></i> Potato Fry</li>
            <li class="bg-white shadow-md p-2 rounded-lg"><i class="fa-solid fa-drumstick-bite text-red-600"></i> Chicken</li>
            <li class="bg-white shadow-md p-2 rounded-lg"><i class="fa-solid fa-bowl-food text-purple-600"></i> Chutney</li>
            <li class="bg-white shadow-md p-2 rounded-lg"><i class="fa-solid fa-cookie text-lime-600"></i> Sweet</li>
            <li class="bg-white shadow-md p-2 rounded-lg"><i class="fa-solid fa-circle text-cyan-600"></i> Hajmola</li>
        </ul>
    </div>
</div>
{% endblock %}
