{% extends 'base.html' %}
{% block title %}Picnic Details{% endblock %}

{% block content %}

<div class="">

    <h6 class="text-gray-400 text-center font-bold tracking-widest mb-2">WELCOME TO</h6>
    <h2 class="text-2xl font-black text-slate-800 text-center mb-0">Work-Life Balance</h2>
    <p class="text-slate-300 text-center text-sm mb-5">1 Day Trial Version</p>

    <p class="text-lg text-gray-700 text-center font-medium mb-4">Join us for a 1-day trial of happiness — food, games, family & unlimited fun.</p>


    <div class="rounded-xl overflow-hidden bg-white p-3">
        <img src="https://lh3.googleusercontent.com/gps-cs-s/AG0ilSwSQvJcvKE65cVQcWuDUGfmrf5rgVc4Drz8-55LgFyVRvBfasBN0oIHTXgwwsVCIv0Yrh7u56_KmSSVn9S_WDOR1-SJT5HjPeHditeMqeZw_jlZmHJgFhSEE_lnbVKGv-fn9d1M=s680-w680-h510" alt="" 
        class="rounded-xl mb-4">

        <p class="font-medium flex items-center gap-2 mb-1">
            <i class="fa-solid fa-location-dot text-red-500"></i>
            <span class="font-bold text-gray-900">Diamond Harbour, Kellar Math</span>
        </p>

        <p class="font-medium flex items-center gap-2 mb-1">
            <i class="fa-solid fa-calendar-days text-blue-500"></i>
            <span class="font-bold text-gray-900">Sunday, 18th January 2026</span>
        </p>

        <p class="font-medium flex items-center gap-2">
            <i class="fa-solid fa-clock text-green-500"></i>
            <span class="font-bold text-gray-900">09:30 AM Onwards</span>
        </p>

        <div class="grid grid-cols-3 gap-3 mt-4">
            <a href="tel:6295828230" class="bg-blue-50 rounded-lg py-3 gap-2 flex flex-col justify-center items-center">
                <i class="fa-solid fa-phone text-blue-600"></i>
                <span class="font-semibold text-blue-600 text-xs">CALL</span>
            </a>
            <a href="https://wa.me/916295828230" target="_blank" class="bg-green-50 rounded-lg py-3 gap-2 flex flex-col justify-center items-center">
                <i class="fa-brands fa-whatsapp text-green-600"></i>
                <span class="font-semibold text-green-600 text-xs">WHATSAPP</span>
            </a>
            <a href="https://maps.app.goo.gl/Gr8cJgj4fE9KiA4v7" target="_blank" class="bg-orange-50 rounded-lg py-3 gap-2 flex flex-col justify-center items-center">
                <i class="fa-solid fa-diamond-turn-right text-orange-600"></i>
                <span class="font-semibold text-orange-600 text-xs">DIRECTION</span>
            </a>
        </div>
    </div>
    
    


    


</div>
{% endblock %}
